#blocklyDiv {
  position: fixed;
  bottom: 20px;
  right: 400px;
  width: 700px;
  height: 500px;
}
#codeArea {
  position: fixed;
  bottom: 7px;
  right: 50px;
  width: 350px;
  height: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  font-family: monospace;
}
#generateCodeButton {
  position: absolute;
  bottom: 498px;
  right: 400px;
  
  
}
#sendCodeButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}