#blocklyDiv {
  position: fixed;
  bottom: 16px;
  right: 526px;
  width: 825px;
  height: 560px;
}
#codeArea {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 525px;
  height: 560px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  font-family: monospace;
}
#generateCodeButton {
  position: absolute;
  bottom: 545px;
  right: 526px;
  
  
}
#sendCodeButton {
  position: fixed;
  bottom: 545px;
  right: 3px;
}