.h1{
    text-decoration: dashed;
}
.black-bar {
	position: fixed;
	left: 0;
	bottom: 0;
	height:100%;
	width: 150px; 
	background-color: #BCFD4C;
	color: white;
	padding: 20px;
	box-sizing: border-box;
  }
.navbar{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	position: fixed;
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	background: #575757;
}
.user-label {
	position: fixed;
	top: 30px;
	left: 75px;
	font-size: 16px;
	color: white;
	cursor: pointer;
}

.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 40px;
	display: inline-block;
	line-height: 40px;
}
.navbar ul li a{
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: #BCFD4C;
	border-radius: 50px;
}
.avatar{
	border-radius: 50%;
}
.sub-menu-wrap{
position: absolute;
top: 90px;
left: 0%;
width: 150px;
max-height: 0px;
overflow: hidden;
transition: max-height 0.5s;

}
.sub-menu-wrap.open-menu{
	max-height: 400px;	
}
.sub-menu{
    background-color: #272727;

}
.sub-menu p{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    padding: 2px;
    align-items: center;    
    display: flex;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 90%;
    background: #272727;
}
.sub-menu a{
    text-decoration: none;
}
#user{
	margin-left:75px;
	align-items: left;
	
}